body {
  font: 100%/1.4 Helvetica, Arial, sans-serif;
  padding: 5em;
}

.button {
  background-color: red;
  padding: 10px 15px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.25s linear,
              color 0.25s linear;
}

.button:hover,
.button:focus {
  background-color: green;
  color:#000;
}
