/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/



/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */


header {
     background-color: #000;
     border-bottom:5px solid yellow;

}

header h1 {
     color: yellow;
     font-family: "Crimson Text", serif;
     float:left;
     height:70px;
     margin:0 auto;
     top: 0;
     padding-left:20px;
}

header nav {
     color:#fff;
     height: 12px;
}
header li {
     font-family: "Oswald", sans-serif;
     font-weight: 400;
     float: right;
}
a {
     text-decoration: none;
     color: #fff;
}
header h2 {
     height:60px;
     color:#fff;
     background-color:#BEBEBE;
     text-align: center;
     font-family:"Crimson Text",serif;
     font-size: 28px;
}

.banner {
     background:url(../images/coworking.jpg) no-repeat;
     height:425px;
}
.blurb {
     font-family: verdana, arial, sans-serif;
     width: 27%;
     height: 280px;
     background-color: rgba(255,255,255,.8);
     float:right;
     margin: 20px;
     margin-right:20px;
     padding:5px 20px 5px 20px;
     clear:both;
}
.blurb h2 {
     font-size: 20px;
}
.blurb p {
     font-size:14px;
     margin-bottom: 20px;
}
.blurb .button {
     margin:0 auto;
     width:180px;
     height:40px;
     background-color: yellow;
     font-family: "Oswald",sans-serif;
     font-weight:700;
     text-align: center;
     padding-top: 10px;
     border-radius: 3px;
}

.banner button {
     width:25px;
     height:20px;
     background-color: blue;
}
.info_boxes {
     width:33%;
     display: inline-block;
     padding:10px;
}

.info_boxes h2 {
     font-family: "Crimson Text", serif;
     font-size: 26px;
}
.info_boxes p {
     font-family: verdana, arial, sans-serif;
}
.info_boxes .button {
     height:40px;
     width:150px;
     background-color:#BEBEBE;
}

footer {
     background-color: #000;
     color:#fff;
     padding:5px;
}
/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




